@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i");
@font-face {
  font-family: 'Caveat-VariableFont_wght';
  src: url("../fonts/Caveat-VariableFont_wght.ttf") format("truetype"); }

html, .root {
  font-size: 18px;
  line-height: 24px; }

body {
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.4375em;
  color: #717171;
  margin: 10px 10px; }

@media (min-width: 600px) {
  body {
    margin: 50px 50px; } }

.article {
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.4375em;
  color: #717171; }

script {
  font-family: "Caveat-VariableFont_wght"; }

.container {
  max-width: 960px; }

.page-title {
  font-family: "Caveat-VariableFont_wght";
  font-size: 6rem;
  font-weight: normal;
  line-height: 1.01470588em;
  margin-bottom: 0.67647058em;
  color: #f7585b;
  margin-bottom: 0px; }

@media screen and (max-width: 599px) {
  .page-title {
    font-family: "Caveat-VariableFont_wght";
    font-size: 4rem;
    font-weight: normal;
    line-height: 1.01470588em;
    margin-bottom: 0.67647058em;
    color: #f7585b;
    margin-bottom: 0px; } }

.basics-section-title {
  font-family: "Caveat-VariableFont_wght";
  font-size: 2.625rem;
  font-weight: normal;
  line-height: 1.0952381em;
  margin-top: 0.54761905em;
  margin-bottom: 0.54761905em;
  color: #f7585b;
  margin: 30px 0px 0px 0px; }

.basics-sub-heading {
  font-family: "Caveat-VariableFont_wght";
  font-weight: bold;
  color: #f7585b;
  margin: 30px 0px 0px 0px;
  font-size: 1.3rem;
  font-weight: 700; }

.basics-section-detail {
  margin: 0px 10px;
  font-weight: bold; }

.label {
  font-family: "Caveat-VariableFont_wght";
  font-size: 6rem;
  font-weight: normal;
  line-height: 1.01470588em;
  margin-bottom: 0.67647058em;
  color: #f7585b;
  margin: 100px 40px; }

.label-image {
  height: 200px; }

.bottom {
  margin: 20px;
  height: 300px;
  width: 100%; }

.full-width-image {
  width: 100%; }

ul.basics-list {
  padding: 0px 20px;
  list-style: none;
  /* Remove default bullets */ }

ul.basics-list li::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #f7585b;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */ }
