.header {
  background: #51D0DE;
  color: #BF4AA8;
  padding: 50px 0px 50px 0px;
  font-size: 800%;
  font-weight: 900;
  text-decoration: underline; }

.header-highlight {
  color: #E9E9E9; }

.section {
  padding: 0px 0px 30px 0px; }

.section-header {
  color: #BF4AA8;
  font-size: 200%;
  font-weight: 500; }

.container {
  border-right: 90px solid #E9E9E9; }

.vertical-filler {
  flex-grow: 1; }

html {
  height: 100%; }

body {
  background: #51D0DE;
  min-height: 100%; }

a {
  color: #E9E9E9;
  font-size: 140%;
  font-weight: 600; }

a:hover {
  color: #E9E9E9;
  font-weight: 600;
  text-decoration: none;
  outline: 5px solid #E9E9E9; }

a:focus {
  outline: 5px solid #E9E9E9; }
