@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i");
body {
  font-size: 110%; }

html, .root {
  font-size: 16px;
  line-height: 23px; }

body, .article {
  font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
  font-size: 1em;
  line-height: 1.4375em;
  color: #777777; }

/* Let's make sure all's aligned */
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

.page-title {
  font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
  font-size: 4.25em;
  line-height: 1.01470588em;
  margin-top: 0.33823529em;
  margin-bottom: 0.67647058em;
  color: #222222; }

.section-title {
  font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
  font-size: 2.625em;
  line-height: 1.0952381em;
  margin-top: 0.54761905em;
  margin-bottom: 0.54761905em;
  color: #222222;
  margin: 30px 0px 0px 0px;
  text-transform: uppercase; }

.section-title-2 {
  font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
  font-size: 1.625em;
  line-height: 1.2375em;
  margin-top: 0.88461538em;
  margin-bottom: 0em;
  color: #222222; }

.daves-media-item {
  background: #EEE;
  margin: 10px 0px 0px 0px;
  padding: 10px; }

.inline {
  display: inline !important; }

.command {
  background: #DDD;
  margin-bottom: 2px;
  padding: 2px 15px; }

.keyboard-shortcut {
  background: #EEE;
  margin-bottom: 2px;
  border-right: 2px solid white;
  padding: 2px 15px; }

.spacer {
  margin-bottom: 7px; }

.problem-area-title {
  font-size: 140%;
  margin: 20px 0px 5px 0px; }

.full-height {
  height: 100%; }

.problem-description {
  background: #FDD;
  padding: 15px 10px;
  font-size: 110%;
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC; }

.solution {
  background: #DFD;
  margin: 0px 0px 10px 0px;
  padding: 5px 10px;
  border: 1px solid #CCC; }

.checklist-item {
  font-size: 120%;
  font-weight: 700;
  color: #555;
  margin-top: 1.5em; }

.term {
  font-weight: 600;
  margin-top: 0.5em; }
