$lightning-blue: #51D0DE;
$lightning-purple: #BF4AA8;
$lightning-white: #E9E9E9;
$lightning-pink: lighten($lightning-purple, 25%);


:focus{
    outline : none;
}

.header{
	color: $lightning-purple;
	padding: 50px 0px 50px 0px;
	font-size: 800%;
	font-weight : 900;
	text-decoration: underline;
    text-decoration-color: $lightning-white;
}

.header-highlight{
 color: $lightning-white;
}

.section{
	padding: 0px 0px 30px 0px;
}

.section a{
    display: block;
    line-height: 1.3em;
}

.section-header{
	color: $lightning-purple;
	font-size: 200%;
	font-weight : 500;
}

.container{
	border-right: 90px solid $lightning-white;
}

.vertical-filler{
	flex-grow: 1;
}

@media (max-width: 576){
  .useless-ball{
    height: 50px;
    width: 50px;
    top: calc(100% - 75px);
    left: calc(100% - 75px);
    border-radius: 25px;
  }
  .useless-ball:hover{
    height: 50px;
    width: 50px;
    top: calc(100% - 75px);
    left: calc(100% - 75px);
    border-radius: 25px;
  }
}

.useless-ball{
    height: 100px;
    width: 100px;
    top: calc(100% - 150px);
    left: calc(100% - 150px);
    border-radius: 50px;
    z-index: 10;
    background: $lightning-pink;
    position: fixed;
    z-index: -10;
}

.useless-ball:hover{
	height: 120px;
    width: 120px;
    top: calc(100% - 160px);
    left: calc(100% - 160px);
    border-radius: 60px;
}

html{
	height: 100%;
}

body{
	background: $lightning-blue;
	min-height: 100%;
}

a{
	color: $lightning-white;
	font-size: 140%;
	font-weight: 600;
}

a:hover,
a:focus
{
	color: $lightning-purple;
	text-decoration: none;
}
