$lightning-blue: #51D0DE;
$lightning-purple: #BF4AA8;
$lightning-white: #E9E9E9;


.header{
	background: $lightning-blue;
	color: $lightning-purple;
	padding: 50px 0px 50px 0px;
	font-size: 800%;
	font-weight : 900;
	text-decoration: underline;
}

.section{
	padding: 0px 0px 30px 0px;
}

.section-header{
	color: $lightning-purple;
	font-size: 200%;
	font-weight : 500;
}

.container{
	border-right: 90px solid $lightning-white;
}

.vertical-filler{
	flex-grow: 1;
}

html{
	height: 100%;
}

body{
	background: $lightning-blue;
	min-height: 100%;
}

a{
	color: $lightning-white;
	font-size: 140%;
	font-weight: 600;
}

a:hover{
	color: $lightning-white;
	font-weight: 600;
	text-decoration: none;
	outline: 5px solid $lightning-white;;
}

a:focus{
	outline: 5px solid $lightning-white;;
}