$bg-grey : #EEE;
$lightning-blue: #51D0DE;
$lightning-purple: #BF4AA8;
$lightning-white: #E9E9E9;
$lightning-pink: lighten($lightning-purple, 25%);

body{
	font-size: 110%;
}

h1{
	margin-top: 2.0rem;
	background: #668;
	color: white;
}

h3{
	margin-top: 1.5rem;
	background: #BBD;
}

.page-title{
	font-size : 300%;
}

.section-title{
	font-size : 150%;
	margin : 30px 0px 0px 0px;
	text-transform: uppercase;
}

.daves-media-item{
	background: $bg-grey;
	margin: 10px 0px 0px 0px;
	padding: 10px;
}

// sublime cheatcheet formatting
.command{
	background: #DDD;
	margin-bottom: 2px; 
	padding: 2px 15px;
}

.keyboard-shortcut{
	background: #EEE;
	margin-bottom: 2px;
	border-right: 2px solid white;
	padding: 2px 15px;
}

.spacer{
	margin-bottom: 7px;
}

// how-did-i-fix specific formatting
.problem-area-title{
	font-size: 140%;
	margin: 20px 0px 5px 0px;
}

.problem-list{
}

.problem-description{
	background: #FDD;
	padding: 15px 10px;
	font-size: 110%;
	border-top : 1px solid #CCC;
	border-left : 1px solid #CCC;
	border-right : 1px solid #CCC;
}

.solution{
	background: #DFD;
	margin: 0px 0px 10px 0px;
	padding: 5px 10px;
	border : 1px solid #CCC;
}

.solution-link{
}

// checklist stlyes
.checklist-item{
	font-size: 110%;
	font-weight: 500;
	color: #666;
}