$bg-grey : #EEE;
$lightning-blue: #51D0DE;
$lightning-purple: #BF4AA8;
$lightning-white: #E9E9E9;
$lightning-pink: lighten($lightning-purple, 25%);
$font-stack: 'Roboto', 'Franklin Gothic Medium', Tahoma, sans-serif;

body{
	font-size: 110%;
}

html, .root {
  font-size: 16px;
  line-height: 23px;
}

body, .article {
  font-family: $font-stack;
  font-size: 1em;
  line-height: 1.4375em;
}

@mixin h1-mixin {
  font-family: $font-stack;
  font-size: 4.25em;
  line-height: 1.01470588em;
  margin-top: 0.33823529em;
  margin-bottom: 0.67647058em;
}

@mixin h2-mixin {
  font-size: 2.625em;
  line-height: 1.0952381em;
  margin-top: 0.54761905em;
  margin-bottom: 0.54761905em;
}

@mixin h3-mixin {
  font-size: 1.625em;
  line-height: 1.76923077em;
  margin-top: 0.88461538em;
  margin-bottom: 0em;
}

@mixin h4-mixin {
  font-family: $font-stack;
  font-size: 1em;
  line-height: 1.4375em;
  margin-top: 1.4375em;
  margin-bottom: 0em;
}

@mixin h5-mixin {
  font-family: $font-stack;
  font-size: 1em;
  line-height: 1.4375em;
  margin-top: 1.4375em;
  margin-bottom: 0em;
}


/* Let's make sure all's aligned */
@mixin hr-mixin {
  border: 1px solid;
  margin: -1px 0;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.page-title{
	@include h1-mixin;
}

.section-title{
	@include h2-mixin;
	margin : 30px 0px 0px 0px;
	text-transform: uppercase;
}

.section-title-2{
	@include h4-mixin;
	font-weight: 600;
}

.daves-media-item{
	background: $bg-grey;
	margin: 10px 0px 0px 0px;
	padding: 10px;
}

.inline{ 
  display : inline !important;
}

// sublime cheatcheet formatting
.command{
	background: #DDD;
	margin-bottom: 2px; 
	padding: 2px 15px;
}

.keyboard-shortcut{
	background: #EEE;
	margin-bottom: 2px;
	border-right: 2px solid white;
	padding: 2px 15px;
}

.spacer{
	margin-bottom: 7px;
}

// how-did-i-fix specific formatting
.problem-area-title{
	font-size: 140%;
	margin: 20px 0px 5px 0px;
}

.problem-list{
}

.problem-description{
	background: #FDD;
	padding: 15px 10px;
	font-size: 110%;
	border-top : 1px solid #CCC;
	border-left : 1px solid #CCC;
	border-right : 1px solid #CCC;
}

.solution{
	background: #DFD;
	margin: 0px 0px 10px 0px;
	padding: 5px 10px;
	border : 1px solid #CCC;
}

.solution-link{
}

// checklist stlyes
.checklist-item{
	font-size: 110%;
	font-weight: 500;
	color: #666;
}

.term{
  font-weight: 600;
  margin-top: 0.5em;
}

.definition{

}